In [1]:
from psycopg2 import connect
import configparser
%matplotlib inline
import numpy as np
import pandas as pd
import pandas.io.sql as pandasql 
from IPython.display import HTML, display
import datetime
import os 
import re
import sys
from datetime import datetime
from sqlalchemy import *
from sqlalchemy.engine.url import URL
sys.path.insert(0, r'C:\Users\rliu4\Documents\Python')

import settings #python file with settings dict

In [2]:
CONFIG = configparser.ConfigParser()
CONFIG.read(r'C:\Users\rliu4\Documents\Python\config.cfg')
dbset = CONFIG['DBSETTINGS']
con = connect(**dbset)

engine = create_engine(URL(**settings.DATABASE))

In [3]:
query = '''

SELECT * FROM ttc_raw_data 
WHERE dt IS NULL

'''

df = pandasql.read_sql(query, con)
temp = None
df

Empty DataFrame
Columns: [route, dt, dow, stop_card, count_id, dir, branch, control_time, run, improvised, vehicle, through_start, through_end, route_stop, departure_load, boarding, alighting, tm, eol]
Index: []

In [4]:
os.chdir(r'K:\tra\GM Office\Big Data Group\Data\TTC\Ridership Sample\2019-07-09 2018 HAN Files')
directory = os.getcwd() 
directory

'K:\\tra\\GM Office\\Big Data Group\\Data\\TTC\\Ridership Sample\\2019-07-09 2018 HAN Files'

In [5]:
for file in os.listdir(directory):
    filename = os.fsdecode(file)
    temp = pd.read_csv(filename, names = df.columns)
    df = df.append(temp, ignore_index = True, sort=False)
    continue

In [7]:
os.chdir(r'K:\tra\GM Office\Big Data Group\Data\TTC\Ridership Sample\2019-07-09 Older HAN Files')
directory1 = os.getcwd() 
directory1

'K:\\tra\\GM Office\\Big Data Group\\Data\\TTC\\Ridership Sample\\2019-07-09 Older HAN Files'

In [8]:
for file in os.listdir(directory1):
    filename = os.fsdecode(file)
    temp = pd.read_csv(filename, names = df.columns)
    df = df.append(temp, ignore_index = True, sort=False)
    continue

In [9]:
df

,route,dt,dow,stop_card,count_id,dir,branch,control_time,run,improvised,vehicle,through_start,through_end,route_stop,departure_load,boarding,alighting,tm,eol
0,10,180515,TUE,12,3225,E,0,529,1,I,8195,0,4,15,1,1,0,529,$
1,10,180515,TUE,12,3225,E,0,529,1,I,8195,0,4,16,1,0,0,530,$
2,10,180515,TUE,12,3225,E,0,529,1,I,8195,0,4,17,1,0,0,531,$
3,10,180515,TUE,12,3225,E,0,529,1,I,8195,0,4,18,4,4,1,531,$
4,10,180515,TUE,12,3225,E,0,529,1,I,8195,0,4,19,4,0,0,532,$
5,10,180515,TUE,12,3225,E,0,529,1,I,8195,0,4,20,4,0,0,532,$
6,10,180515,TUE,12,3225,E,0,544,1,NaN,8195,0,4,1,2,2,0,544,$
7,10,180515,TUE,12,3225,E,0,544,1,NaN,8195,0,4,3,2,0,0,548,$
8,10,180515,TUE,12,3225,E,0,544,1,NaN,8195,0,4,4,2,0,0,550,$
9,10,180515,TUE,12,3225,E,0,544,1,NaN,8195,0,4,5,2,0,0,550,$
10,10,180515,TUE,12,3225,E,0,544,1,NaN,8195,0,4,6,2,0,0,551,$
11,10,180515,TUE,12,3225,E,0,544,1,NaN,8195,0,4,7,2,0,0,552,$
12,10,180515,TUE,12,3225,E,0,544,1,NaN,8195,0,4,8,2,0,0,552,$
13,10,180515,TUE,12,3225,E,0,544,1,NaN,8195,0,4,9,2,0,0,552,$
14,10,180515,TUE,12,3225,E,0,544,1,NaN,8195,0,4,10,2,0,0,552,$
15,10,180515,TUE,12,3225,E,0,544,1,NaN,8195,0,4,11,2,0,0,553,$
16,10,180515,TUE,12,3225,E,0,544,1,NaN,8195,0,4,12,2,0,0,554,$
17,10,180515,TUE,12,3225,E,0,544,1,NaN,8195,0,4,13,2,0,0,554,$
18,10,180515,TUE,12,3225,E,0,544,1,NaN,8195,0,4,14,2,0,0,555,$
19,10,180515,TUE,12,3225,E,0,544,1,NaN,8195,0,4,15,3,1,0,557,$
20,10,180515,TUE,12,3225,E,0,544,1,NaN,8195,0,4,16,3,0,0,558,$
21,10,180515,TUE,12,3225,E,0,544,1,NaN,8195,0,4,17,3,0,0,559,$
22,10,180515,TUE,12,3225,E,0,544,1,NaN,8195,0,4,18,4,1,0,559,$
23,10,180515,TUE,12,3225,E,0,544,1,NaN,8195,0,4,19,4,0,0,600,$
24,10,180515,TUE,12,3225,E,0,544,1,NaN,8195,0,4,20,4,0,0,600,$
25,10,180515,TUE,12,3225,E,0,615,1,NaN,8195,0,3,1,1,1,0,615,$
26,10,180515,TUE,12,3225,E,0,615,1,NaN,8195,0,3,3,1,0,0,617,$
27,10,180515,TUE,12,3225,E,0,615,1,NaN,8195,0,3,4,1,0,0,618,$
28,10,180515,TUE,12,3225,E,0,615,1,NaN,8195,0,3,5,1,0,0,619,$
29,10,180515,TUE,12,3225,E,0,615,1,NaN,8195,0,3,6,1,0,0,620,$
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1206047,97,130116,WED,30,1004,S,40,1423,4,NaN,1374,0,0,32,1,0,0,0,$
1206048,97,130116,WED,30,1004,S,40,1423,4,NaN,1374,0,0,33,1,0,0,0,$
1206049,97,130116,WED,30,1004,S,40,1423,4,NaN,1374,0,0,34,1,0,0,0,$
1206050,97,130116,WED,30,1004,S,40,1423,4,NaN,1374,0,0,35,1,0,0,0,$
1206051,97,130116,WED,30,1004,S,40,1423,4,NaN,1374,0,0,36,1,0,0,0,$
1206052,97,130116,WED,30,1004,S,40,1423,4,NaN,1374,0,0,37,3,2,0,1418,$
1206053,97,130116,WED,30,1004,S,40,1423,4,NaN,1374,0,0,38,4,1,0,0,$
1206054,97,130116,WED,30,1004,S,40,1423,4,NaN,1374,0,0,39,6,2,0,0,$
1206055,97,130116,WED,30,1004,S,40,1423,4,NaN,1374,0,0,40,5,0,1,0,$
1206056,97,130116,WED,30,1004,S,40,1423,4,NaN,1374,0,0,41,5,0,0,0,$
1206057,97,130116,WED,30,1004,S,40,1423,4,NaN,1374,0,0,43,7,2,0,1423,$
1206058,97,130116,WED,30,1004,S,40,1423,4,NaN,1374,0,0,45,7,0,0,0,$
1206059,97,130116,WED,30,1004,S,40,1423,4,NaN,1374,0,0,46,7,0,0,0,$
1206060,97,130116,WED,30,1004,S,40,1423,4,NaN,1374,0,0,47,9,3,1,0,$
1206061,97,130116,WED,30,1004,S,40,1423,4,NaN,1374,0,0,48,9,0,0,0,$
1206062,97,130116,WED,30,1004,S,40,1423,4,NaN,1374,0,0,49,12,4,1,0,$
1206063,97,130116,WED,30,1004,S,40,1423,4,NaN,1374,0,0,50,11,0,1,0,$
1206064,97,130116,WED,30,1004,S,40,1423,4,NaN,1374,0,0,51,11,0,0,0,$
1206065,97,130116,WED,30,1004,S,40,1423,4,NaN,1374,0,0,52,5,0,6,1431,$
1206066,97,130116,WED,30,1004,S,40,1423,4,NaN,1374,0,0,53,5,0,0,0,$
1206067,97,130116,WED,30,1004,S,40,1423,4,NaN,1374,0,0,54,5,0,0,0,$
1206068,97,130116,WED,30,1004,S,40,1423,4,NaN,1374,0,0,55,5,0,0,0,$
1206069,97,130116,WED,30,1004,S,40,1423,4,NaN,1374,0,0,56,5,0,0,0,$
1206070,97,130116,WED,30,1004,S,40,1423,4,NaN,1374,0,0,57,2,0,3,0,$
1206071,97,130116,WED,30,1004,S,40,1423,4,NaN,1374,0,0,58,2,0,0,1435,$
1206072,97,130116,WED,30,1004,S,40,1423,4,NaN,1374,0,0,59,2,0,0,0,$
1206073,97,130116,WED,30,1004,S,40,1423,4,NaN,1374,0,0,60,2,0,0,0,$
1206074,97,130116,WED,30,1004,S,40,1423,4,NaN,1374,0,0,61,1,0,1,0,$
1206075,97,130116,WED,30,1004,S,40,1423,4,NaN,1374,0,0,62,0,0,1,1440,$
1206076,97,130116,WED,30,1004,S,40,1423,4,NaN,1374,0,0,62,0,0,1,1440,$

In [ ]:
df.to_sql(name = 'ridership_raw', con = engine, schema = 'ttc', if_exists = 'append', index = False)